POSTGRES_DB=datalab
POSTGRES_USER=datalab
POSTGRES_PASSWORD=tu_password_aqui
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

PGADMIN_DEFAULT_EMAIL=admin@datalab.local
PGADMIN_DEFAULT_PASSWORD=tu_password_aqui
